.login{
    color: rgb(110 73 143);
    background-color: white;
    width: 19rem;
    height: 28rem;
    border-radius: 8px;
    text-align: left;
    padding: 19px;
    box-shadow: 2px 4px 2px 4px;
    
   
}
.Toastify__close-button--light{
    width: 32px;
}
.container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:37rem;
   

}
.disply{
    display: flex;
}
.textInput{
    width:18rem;
    height:28px;
    border:none;
    background-color: whitesmoke;
    font-size: 12px;
    border-radius: 4px;
}
.submitinput{
    margin-top: 2rem;
    background-color: #723499;
    border: none;
    width:18rem;
    height: 45px;
    color: rgb(218 219 225);
    cursor: pointer;
    border-radius: 4px;
   
}
img{
    width: 2rem;
    height:2rem;
    padding-top: 13px;
}

.Toastify__toast{
    width: 19rem !important;;
}
.header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
}
.bigDisply{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.txt{
    margin-right:19px;
}
input[type="text"]:focus, input[type="password"]:focus{
    outline: none;
}
@media (max-width:500px) {
   
    .textInput{
        font-size: 9px;
        width: 15rem;
    }
    .login{
        color: rgb(110 73 143);
    background-color: white;
    width: 16rem;
    height: 27rem;
    border-radius: 8px;
    text-align: left;
    padding: 19px;
    box-shadow: 2px 4px 2px 4px;
    }
    .submitinput {
        margin-top: 2rem;
        background-color: #723499;
        border: none;
        width: 16rem;
        height: 32px;
        color: rgb(218 219 225);
        cursor: pointer;
    }
}